Repository arrow-kt/arrow-meta, pull requests merged in 2019-11, with the labels that each got.

#67 Exclude unnecessary files from Jekyll built site
  docs/_config.yml
Labels: web

#64 Union Types Draft
  compiler-plugin/build.gradle
  compiler-plugin/src/main/kotlin/arrow/meta/MetaPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/dsl/codegen/ir/IrSyntax.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/codegen/ir/IrUtils.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/higherkind/KindAwareTypeChecker.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/union/UnionTypeChecker.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/union/UnionsPlugin.kt
  compiler-plugin/src/test/kotlin/arrow/meta/plugins/comprehensions/ComprehensionsTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/plugins/higherkind/HigherkindTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/plugins/lens/LensTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/plugins/union/UnionTest.kt
  testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/CompilationAssertions.kt
  testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/CompilerTestDSL.kt
Labels: documentation, enhancement, help wanted

#92 Set baseurl param when building the site
  .github/workflows/publish_documentation.yml
Labels: web

#90 `binaryOper` Quote and Template Scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/BinaryExpression.kt
Labels: AST-scope

#100 Parameter quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Parameter.kt
Labels: AST-scope

#106 Updated func -> namedFunction
  README.md
  compiler-plugin/src/main/kotlin/arrow/meta/Meta.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/helloWorld/DummyPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/typeclasses/TypeClassesPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/NamedFunction.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Quote.kt
  idea-plugin/src/main/kotlin/arrow/meta/ide/plugins/higherkinds/HigherKindsIdePlugin.kt
Labels: AST-scope

#113 Loop expression scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/LoopExpressionScope.kt
Labels: AST-scope

#124 Add website system prerequisites info
  docs/README.md
Labels: documentation, web

#121 While expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhileExpression.kt
Labels: AST-scope

#122 Lambda Expression Quote and Template Scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/LambdaExpression.kt
Labels: AST-scope

#123 Function Literal Quote and Template Scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/FunctionLiteral.kt
Labels: AST-scope

#120 For expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ForExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Parameter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhileExpression.kt
Labels: AST-scope

#128 AST Element scope & template minor doc cleanups
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/BinaryExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ForExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/LambdaExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/NamedFunction.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Parameter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Property.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/PropertyAccesor.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/TypeAlias.kt
  docs/build.gradle
Labels: AST-scope, documentation

#139 When entry quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhenEntry.kt
Labels: AST-scope

#145 When condition scope and quote
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhenCondition.kt
Labels: AST-scope

#156 Finally quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/FinallySection.kt
Labels: AST-scope

#154 Block expression and quote
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/BlockExpression.kt
Labels: AST-scope

#152 Catch quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/CatchClause.kt
Labels: AST-scope

#87 Update documentation for classOrObject(...)
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/optics/LensPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ClassOrObject.kt
Labels: AST-scope, documentation

#151 Try expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/TryExpression.kt
Labels: AST-scope

#136 When expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Property.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhenExpression.kt
Labels: AST-scope

#135 If expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/IfExpression.kt
Labels: AST-scope

#162 Throw expression quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ThrowExpression.kt
Labels: AST-scope

#164 Is expression quote and its scope mapping
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/IsExpression.kt
Labels: AST-scope

#165 Return quote and its scope mapping
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ReturnExpression.kt
Labels: AST-scope

#167 Create annotated expression quote and its scope mapping
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/AnnotatedExpression.kt
Labels: AST-scope

#127 Type element quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/BinaryExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/TypeReference.kt
Labels: AST-scope

#176 Destructuring declaration quote and its scope mapping
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/DestructuringDeclaration.kt
Labels: AST-scope, documentation

#183 Value argument quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ValueArgument.kt
Labels: AST-scope

#182 Import directive quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ImportDirective.kt
Labels: AST-scope

#188 Parameter list quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ParameterList.kt
Labels: AST-scope

#133 ObjectDeclaration and refactoring ClassOrObjectScope
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/higherkind/HigherKindPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/plugins/optics/LensPlugin.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Class.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ForExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ObjectDeclaration.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/WhileExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/parentscopes/ClassOrObjectScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/parentscopes/LoopExpressionScope.kt
Labels: AST-scope

#186 Modifier list quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ModifierList.kt
Labels: AST-scope

#184 File quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/File.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/LambdaExpression.kt
Labels: AST-scope

#132 Type reference quote and template scope
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/TypeAlias.kt
Labels: AST-scope

#203 Transform remove
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/Node.kt
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/psi/Converter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Quote.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Transform.kt
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/TransformRemoveTest.kt
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/plugins/MetaPlugin.kt
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/plugins/transform/TransformRemovePlugin.kt
Labels: AST-scope

#220 Transform replace tests
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/TransformReplaceTest.kt
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/plugins/MetaPlugin.kt
  testing-plugin/src/test/kotlin/arrow/meta/plugin/testing/plugins/transform/TransformReplacePlugin.kt
Labels: AST-scope

#235 Transform many
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Quote.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Transform.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/TransformManyTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/plugins/TransformManyPlugin.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/plugins/TransformMetaPlugin.kt
Labels: AST-scope

#253 Create test to object declaration scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ObjectDeclaration.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/ObjectDeclarationTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/ObjectDeclarationPlugin.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/ScopeMetaPlugin.kt
Labels: AST-scope

#254 Sidebar improvements
  docs/_data/sidebar.yml
  docs/_includes/_sidebar.html
  docs/_sass/components/_sidebar-menu.scss
  docs/_sass/components/_sidebar-meta.scss
  docs/_sass/components/_sidebar-nav.scss
  docs/css/styles.scss
  docs/js/functions.js
Labels: web
