Repository arrow-kt/arrow-meta, pull requests merged in 2019-12, with the labels that each got.

#286 Fixes sidebar deploy when clicking over the icon
  docs/_sass/components/_sidebar-menu.scss
Labels: web

#288 Separate description and definition in tables
  docs/_sass/components/_doc-content.scss
Labels: web

#261 Transform new source
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Quote.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/Transform.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/filebase/File.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/TransformNewSourceTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/plugins/TransformMetaPlugin.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/transform/plugins/TransformNewSourcePlugin.kt
  testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/CompilationAssertions.kt
  testing-plugin/src/main/kotlin/arrow/meta/plugin/testing/CompilerTestDSL.kt
Labels: AST-scope

#298 aAdded DotQualifiedExpression Scope and template plus testing validation
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/MetaExtensions.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/expression/DotQualifiedExpression.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/DotQualifiedExpressionTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/IfExpressionTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/DotQualifiedExpression.kt
Labels: AST-scope

#306 Update Ide to latest eap
  gradle.properties
  idea-plugin/build.gradle
  idea-plugin/src/main/kotlin/arrow/meta/ide/dsl/editor/lineMarker/LineMarkerSyntax.kt
  idea-plugin/src/main/kotlin/arrow/meta/ide/dsl/editor/refactoring/RefactoringSyntax.kt
  idea-plugin/src/main/kotlin/arrow/meta/ide/dsl/extensions/ExtensionProviderSyntax.kt
  idea-plugin/src/main/kotlin/arrow/meta/ide/phases/editor/extension/ExtensionProvider.kt
  idea-plugin/src/main/kotlin/arrow/meta/ide/testing/dsl/lineMarker/LineMarkerTestSyntax.kt
  idea-plugin/src/main/resources/META-INF/plugin.xml
  idea-plugin/src/test/kotlin/arrow/meta/ide/plugins/lens/LensTest.kt
Labels: IDEA, high-priority

#326 Classbody quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/MutableVisitor.kt
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/Node.kt
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/Visitor.kt
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/Writer.kt
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/psi/Converter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/MetaExtensions.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/classorobject/ClassBody.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/classorobject/ClassDeclaration.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/ClassBodyTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/ClassBodyPlugin.kt
Labels: AST-scope, documentation

#330 Responsive gif image
  docs/_sass/components/_doc-content.scss
  docs/index.md
Labels: web

#331 Gif resize adjustments
  docs/_sass/components/_doc-content.scss
Labels: web

#325 ThisExpression quote-and-template scope
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/MetaExtensions.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/expression/expressionwithlabel/instanceexpressionwithlabel/InstanceExpressionWithLabel.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/expression/expressionwithlabel/instanceexpressionwithlabel/ThisExpression.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/ThisExpressionTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/DotQualifiedExpressionPlugin.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/ThisExpressionPlugin.kt
Labels: AST-scope, documentation

#327 TypeAlias Quote and Template Testing Validation
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/psi/Converter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/MetaExtensions.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/ScopedList.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/expression/WhenExpression.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/stub/typeparameterlistowner/NamedFunction.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/stub/typeparameterlistowner/Property.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/stub/typeparameterlistowner/TypeAlias.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/stub/typeparameterlistowner/TypeParameterListOwner.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/TypeAliasTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/TypeAliasPlugin.kt
Labels: AST-scope, documentation

#311 FunctionLiteral Quote and Template Scope Testing Validation
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/notstubbed/FunctionLiteral.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/nameddeclaration/notstubbed/KtFunctionNotStubbed.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/FunctionLiteralTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/IfExpressionTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/FunctionLiteralPlugin.kt
Labels: AST-scope, documentation

#336 PackageDirective quote and scope
  compiler-plugin/src/main/kotlin/arrow/meta/internal/kastree/ast/psi/Converter.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/MetaExtensions.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/element/PackageDirective.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/filebase/File.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/PackageDirectiveTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/PackageDirectivePlugin.kt
Labels: AST-scope, documentation

#333 Fix: IfExpression testing and added validation
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/DefaultElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/phases/analysis/ElementScope.kt
  compiler-plugin/src/main/kotlin/arrow/meta/quotes/expression/IfExpression.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/IfExpressionTest.kt
  compiler-plugin/src/test/kotlin/arrow/meta/quotes/scope/plugins/IfExpressionPlugin.kt
Labels: AST-scope, documentation

#359 Sync: consider Kotlin, Kotlin IDEA and Intellij IDEA versions
  .github/workflows/kotlin-sync.yml
Labels: Kotlin version upgrade, enhancement, high-priority

#357 Module dropdown implementation
  docs/_data/features.yml
  docs/_includes/_sidebar-cat-dropdown.html
  docs/_includes/_sidebar.html
  docs/_sass/components/_sidebar.scss
  docs/js/functions.js
  docs/js/highlight.pack.js
Labels: web

#367 Sync: test latest Kotlin EAP and DEV versions
  .github/workflows/kotlin-sync.yml
  build.gradle
Labels: Kotlin version upgrade

#376 Enable doc searching through Algolia service
  docs/_includes/_js-bottom-docs.html
  docs/js/docsearch.min.js
  docs/js/functions.js
Labels: web
